oid_section = OIDs

[ OIDs ]
certificateTemplateName = 1.3.6.1.4.1.311.20.2

[ req ]
default_bits       = 2048
distinguished_name = dn
req_extensions     = req_ext
prompt             = no
default_md         = sha256
x509_extensions    = v3_ca

[ dn ]
C               = SA
O               = Gandofly
OU              = Jaddah Branch
CN              = TST-55e2c77d-a51e-4e3f-8353-7f0757ee2ad1

[ v3_ca ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment

[ req_ext ]
certificateTemplateName = ASN1:PRINTABLESTRING:TSTZATCA-Code-Signing
subjectAltName = dirName:alt_names

[ alt_names ]
SN = 1-MicroPOS|2-1.0.0|3-55e2c77d-a51e-4e3f-8353-7f0757ee2ad1
UID = 310000000000003
title = 1000
registeredAddress = King Fahd Road, Riyadh, 12345
businessCategory = restaurant